<q-nav></q-nav>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>