<div class="nav-container">
    <img class="logo-icon" src="../../../assets/images/quarto-q-black.png">
    <div class="user-panel">
        <span class="btn-link btn-user">aprilmaraat@gmail.com</span>
        <span class="btn-link btn-logout" (click)="logout()">Logout</span>
    </div>
</div>