@import '../../../variable';
@import '../../../styles.scss';

.nav-container{
    width: 100%;
    height: 50px;
    min-width: 400px;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
}

.logo-icon{
    width: 50px;
    height: auto;
}

.user-panel{
    width: 250px;
    height: inherit;
    line-height: 50px;
    float: right;

    & > .btn-link{
        margin-left: 5px;
        margin-right: 5px;
    }

    & > .btn-user{
        text-transform: none !important;
        float: left;
    }

    & > .btn-logout{
        float: inherit;
    }
}

