<!-- <nav class="nav-bar"></nav> -->
<!-- <div class="content-panel">
    <router-outlet></router-outlet>
</div> -->
<q-load-overlay></q-load-overlay>
<q-notification></q-notification>
<router-outlet></router-outlet>