<div class="logo">
    <img class="logo" src="../../../assets/images/quarto-logo-deeppurple.png">
</div>
<div class="login-container">
    <h2>LOGIN</h2>
    <div class="form-group">
        <input [(ngModel)]="passwordTokenRequest.EmailAddress" 
            type="text" 
            class="floating-label-field floating-label-field--s3" 
            placeholder="Email Address" required/>
        <label class="floating-label">Email Address</label>
        <div *ngIf="error.emailAddress" class="field-error-message indicator-required">Email Address is required</div>
    </div>
    <div class="form-group">
        <input [(ngModel)]="passwordTokenRequest.Password"  
            type="password" 
            class="floating-label-field floating-label-field--s3" 
            placeholder="Password" required/>
        <label class="floating-label">Password</label>
        <div *ngIf="error.password" class="field-error-message indicator-required">Password is required</div>
    </div>
    <div class="form-group">
        <button class="btn-y" (click)="login()">Login</button>
    </div>
    <div class="form-group">
        <div class="login-form-sublink">
            <span routerLink="/register" class="btn-link register-link">Register</span>
            <span class="btn-link forgot-link">Forgot Password</span>
        </div>
    </div>
</div>