@import '../../../_variable.scss';
@import "../../../styles.scss";

// .login-container{
//     @extend .center-position;
//     position: absolute;
//     height: 100%;
//     width: 400px;
//     text-align: center;
// }