// Colors
$light-red: #ff4e33;
$deep-red: #c21a00;
$deep-red-dark: #991400;
$deep-purple: #8000ff;
$deep-purple-light: #8c1aff;
$deep-purple-dark: #7300e6;
$green: #4CAF50;
$green-dark: #348036;

$theme-color: $deep-purple;
$theme-color-light: $deep-purple-light;
$theme-color-dark: $deep-purple-dark;

$background_color: #f5f5f5;
$input-color: #5f5f5fbf;
$input-color-dark: #404040;
$link-color: #6164fffd;