/* You can add global styles to this file, and also import other style files */
@import '../src/_variable.scss';

body{
	margin: 0;
	overflow: auto;
	font-family: Arial;
	background-image: url("src/assets/images/skyscrapers.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%; 
	background-position: center;
}

.center-position{
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.unselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// .nav-bar{
//     width: 100%;
//     height: 50px;
//     position: relative;
//     background-color: $theme-color-dark;
// }

// .nav-container{
//     width: 100%;
//     height: 50px;
//     min-width: 400px;
//     position: fixed;
//     // background-color: $theme-color;
//     z-index: 1;
//     top: 0;
// }

// .nav-scrolled{
//     background-color: $theme-color;
// }

.content-panel{
	width: 100%;
	height: calc(100vh - 50px);
}

.close{
    &:hover{ cursor: pointer !important; }
}

button{
	width: 100%;
	height: 50px;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	&:focus { text-decoration: none; outline: 0; }
}

.btn-y{
	background-color: $theme-color;
	color: white;

	&:active{ background-color: $theme-color-light; }
}

.btn-link{
	text-decoration: none !important;
	text-transform: uppercase;
	font-size: 12px;

	&:hover{
		cursor: pointer;
		color: $theme-color-light;
		text-decoration: none;
	}

	&:visited{ text-decoration: none; }

	&:focus { text-decoration: none; outline: 0; }
}

.register-link{ float: left; } 

.forgot-link{ float: right; }

.logo{
	@extend .center-position;
	text-align: center;
	width: 400px;

	& > img{
		width: 100%;
		height: auto;
	}
}

.login-container{
    @extend .center-position;
    height: calc(100% - 400px);
    width: 400px;
	text-align: center;
}

.form-group{
	@extend .center-position;
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 25px;
	color: $input-color;
}

.indicator-required{
	color: red;
}

/* Making the label break the flow */
.floating-label
{
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
	z-index: 1500;
	text-transform: uppercase;
}

/* Hide the browser-specific focus styles */
.floating-label-field
{
	color: $input-color;
    border-width: 0;
    z-index: 2000;
}
.floating-label-field:focus
{
    outline: 0;
    box-shadow: 0;
}
// .floating-label-field::placeholder
// {
// 	color: $input-color;
// }

/* Make the label and field look identical on every browser */
.floating-label,
.floating-label-field
{
    font: inherit;
    line-height: 1;
    display: block;
	// width: calc(100% - 48px);
	width: 100%;
	position: relative;
}

.floating-label-field--s3
{
	padding: 24px;
    transition: border-color .25s ease-in-out;
	color: $input-color-dark;
	border-bottom: 1px solid $input-color;
    background-color: transparent;
}

.floating-label-field--s3 + .floating-label
{
    position: absolute;
    top: .75em;
    left: .75em;
    display: inline-block;
	width: auto;
    margin: 0;
    padding: .75em;
    transition: transform .25s, opacity .25s, padding .25s ease-in-out;
    transform-origin: 0 0;
	color: $input-color;
}
.floating-label-field--s3:focus,
.floating-label-field--s3:not(:placeholder-shown)
{
	border-bottom: 1px solid $theme-color;
}
.floating-label-field--s3:focus + .floating-label,
.floating-label-field--s3:not(:placeholder-shown) + .floating-label
{
    z-index: 2500;
    padding: .75em;
    transform: translate(0, -2em) scale(.9);
	color: $theme-color-light;
}

/* Common Styles */
/* Identical inputs on all browsers */
.floating-label-field--s3:not(textarea)
{
    max-height: 4em;
}

.floating-label-field--s3::placeholder
{
    color: transparent;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.load-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ffffffe5;
	text-align: center;
	z-index: 9999;
}

.lds-ring {
	@extend .center-position;
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid $theme-color;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $theme-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
